<!DOCTYPE>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Angular template</title>
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="modules/core-js/client/shim.min.js"></script>
    <script src="modules/zone.js/dist/zone.js"></script>
    <script src="modules/systemjs/dist/system.src.js"></script>

    <script src="app/systemjs.config.js"></script>
    <script>
     System.import('app').catch(function(err){ console.error(err); });
   </script>

  </head>
  <body>
    <course-list></course-list>
  </body>
</html>
